   
{% extends 'AdmineBundle::layout.html.twig' %}

 {% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        {{ parent() }}
          {% block menu %} 
          {% endblock %}
<div id="content">
    <p>Accès Refusé. Veillez vous identifiez</p>
</div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}

    {% endblock %}
 {% endblock %}
