<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                <link href="/css/reset.css" rel="stylesheet">
                <link href="/css/bootstrap.css" rel="stylesheet">
                <link href="/css/bootstrap-responsive.css" rel="stylesheet">
                <link href="/css/docs.css" rel="stylesheet">
                <link href="/css/prettify.css" rel="stylesheet">
                <link href="/css/main.css" rel="stylesheet">
       {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            
        {% block javascripts %}
                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                    <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
                    <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
                    <script src="/js/bootstrap.min.js"></script>
                    <script src="http://twitter.github.com/bootstrap/assets/js/application.js"></script>
{% endblock %}
    </body>
</html>
