 {% extends 'SiteAdminBundle::layoutoff.html.twig' %}

 {% block title %}Connexion Pro{% endblock %}
 {% block content %}
        {{ parent() }}
 <p></p>
 <p></p>
    <div class="span6 center">
        <div class="well">
                        {% if error %}
                                    <div class="alert alert-block alert-error fade in"> 
                                            <span class="close"></span>
                                            {{ error.message|trans({}, 'AdminBundle') }} 
                                    </div>      
                        {% endif %}
                            <legend>Authentification</legend>
                                <form  class="form-horizontal" action="{{ path('login_check') }}" method="post">
                                    <div class="control-group">
                                        <label class="control-label" for="login">Login: </label>
                                        <div class="controls">
                                            <input required="required" id="login"  type="text" name="_username" value="{{ last_username }}" {% if last_username is empty %}placeholder="E-mail" {% endif %}>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="mdp">Password: </label>
                                        <div class="controls">
                                             <input id="mdp" required="required" type="password" placeholder="Password" name="_password">
                                             <p></p>
                                             <label id="entrer" class="active"><input type="checkbox" name="_remember_me" checked="checked">Se souvenir de moi</label>
                                              <p></p>
                                             <input type="submit" name="login" value="Connexion" class="btn btn-primary btn-large">
                                        </div>
                                    </div>
                                    </form>
                            </fieldset>
            </div>
        </div>
    {% endblock %}