 {% extends 'SiteProBundle::layout.html.twig' %}

 {% block body %}
 
<h3>Authentification</h3>
<fieldset>
    <legend>Restituer son mot de passe</legend>
       {% if error is defined %}
        {% if error %}
            <div class="error">{{ error.message|trans }}</div>
        {% endif %}
       {% endif %}     
    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Identifiant:</label>
        <input type="text" id="username" name="_username" value="" />
        <input class="btn" type="submit" name="reset" />
    </form>
</fieldset>

 {% endblock %}



