<div class="pull-left">
    <form class="navbar-search" action="{{  path('displaying') }}" id="top_search" method="post">
                <select name="displaying">
                        <option value="5">5</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="300">300</option>
                </select>
            <button type="submit" class="btn btn-mini">Afficher</button>
    </form>
</div>
<div class="clear_fix"></div>

