<div id="filter_box">
        <label  for="search">Filtrer par: </label>
        <input required="required" class="filter_input" id="search"  type="search" name="filter" placeholder="Nom, titre ...">
        <input type="button" class="btn btn-mini reset_input" value="Reset" />
</div>