<div id="filter_box">
        <label  for="search">Filtrer par: </label>
          <div class="input-prepend">
                <span class="add-on">?</span>
                <input required="required" class="filter_input" id="search"  id="prependedInput"  type="search" name="filter" placeholder="Nom, titre ..." />
          </div>
</div>