<div class="well sidebar-nav">
    <ul class="nav nav-list">
    {% for key,entity in  entities %}
                <li class="nav-header">{{ key}}</li>
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
    {% endfor %}
            </ul>
</div><!--/.well -->