{# GENERAL LAYOUT OF BUNDLE #}
{% extends '::base_light.html.twig' %}

 {% block body%}
            {{ parent() }}
                    <div class="container-fluid">
                            <div class="span5" id="content">
                                {% block content %}
                                {% endblock %}
                            </div>
                    </div>
    {% endblock %}
    
       {% block javascripts %}
             {{ parent() }}
                                    <script src="{{ asset('/js/app.js') }}"  type="text/javascript"></script>
       {% endblock %}
