{# GENERAL LAYOUT OF BUNDLE #}
{% extends '::base.html.twig' %}

        {% block body%}
            {{ parent() }}
                {# Toolbar #}
                    {% include "SiteAdminBundle:Slot:topmenu.html.twig" %}
                    <div class="container-fluid">
                            {# Breadscrumb #}
                            <div id="breadscrumb">
                                {{ wo_render_breadcrumbs() }}
                            </div>
                            <div class="span3" id="sidebar_context">
                                {% render 'SiteAdminBundle:Slot:sidebar' %}
                            </div>
                            <div class="span10" id="content">
                                        {% render 'SiteAdminBundle:Slot:flashdatas' %}
                        {% block content %}
                        {% endblock %}
                            </div>
                    </div>
    {% endblock %}
    
       {% block javascripts %}
             {{ parent() }}
                                    <script src="{{ asset('/js/app.js') }}"  type="text/javascript"></script>
       {% endblock %}
