<IfModule mod_rewrite.c>
    RewriteEngine On
    <IfModule mod_vhost_alias.c>
        RewriteBase /app.php
    </IfModule>
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
    </IfModule>
    <Files ~ "\.(htm|html|css|js|php)$">
    AddDefaultCharset UTF-8
    DefaultLanguage en-US
    </Files>


<FilesMatch "\.(js|css|html|htm|php|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>